# Import Library

Import Library yang akan digunakan

In [1]:
import pickle # Untuk load model
import json # Untuk load list
import pandas as pd
import numpy as np

# Load Model

Load model dan list yang telah dibuat

In [2]:
with open("best_model_dtr.pkl", "rb") as file_1:
    best_model_dtr = pickle.load(file_1)

with open("list_num_cols.txt", "r") as file_2:
    list_num_cols = json.load(file_2)

with open("list_catn_cols.txt", "r") as file_3:
    list_catn_cols = json.load(file_3)

In [ ]:
{'Loan_ID': {1: 'LP001003',
  2: 'LP001005',
  3: 'LP001006',
  4: 'LP001008',
  5: 'LP001011'},
 'Gender': {1: 'Male', 2: 'Male', 3: 'Male', 4: 'Male', 5: 'Male'},
 'Married': {1: 'Yes', 2: 'Yes', 3: 'Yes', 4: 'No', 5: 'Yes'},
 'Dependents': {1: '1', 2: '0', 3: '0', 4: '0', 5: '2'},
 'Education': {1: 'Graduate',
  2: 'Graduate',
  3: 'Not Graduate',
  4: 'Graduate',
  5: 'Graduate'},
 'Self_Employed': {1: 'No', 2: 'Yes', 3: 'No', 4: 'No', 5: 'Yes'},
 'ApplicantIncome': {1: 4583, 2: 3000, 3: 2583, 4: 6000, 5: 5417},
 'CoapplicantIncome': {1: 1508.0, 2: 0.0, 3: 2358.0, 4: 0.0, 5: 4196.0},
 'LoanAmount': {1: 128.0, 2: 66.0, 3: 120.0, 4: 141.0, 5: 267.0},
 'Loan_Amount_Term': {1: 360.0, 2: 360.0, 3: 360.0, 4: 360.0, 5: 360.0},
 'Credit_History': {1: 1.0, 2: 1.0, 3: 1.0, 4: 1.0, 5: 1.0},
 'Property_Area': {1: 'Rural', 2: 'Urban', 3: 'Urban', 4: 'Urban', 5: 'Urban'},
 'Loan_Status': {1: False, 2: True, 3: True, 4: True, 5: True}}

# Data Loading

Buat data dummy untuk mencoba menjalankan model

In [7]:
data = {
 'Gender': {1: 'Female', 2: 'Male', 3: 'Female', 4: 'Male', 5: 'Male'},
 'Married': {1: 'No', 2: 'No', 3: 'Yes', 4: 'No', 5: 'Yes'},
 'Dependents': {1: '1', 2: '2', 3: '0', 4: '0', 5: '3+'},
 'Education': {1: 'Not Graduate',
  2: 'Graduate',
  3: 'Not Graduate',
  4: 'Not Graduate',
  5: 'Graduate'},
 'Self_Employed': {1: 'Yes', 2: 'No', 3: 'Yes', 4: 'No', 5: 'No'},
 'ApplicantIncome': {1: 7035, 2: 2500, 3: 3000, 4: 2000, 5: 4500},
 'CoapplicantIncome': {1: 0.0, 2: 0.0, 3: 4000.0, 4: 0.0, 5: 5000.0},
 'LoanAmount': {1: 250.0, 2: 100.0, 3: 150.0, 4: 300.0, 5: 400.0},
 'Loan_Amount_Term': {1: 120.0, 2: 480.0, 3: 360.0, 4: 60.0, 5: 36.0},
 'Credit_History': {1: 0.0, 2: 1.0, 3: 0.0, 4: 1.0, 5: 1.0},
 'Property_Area': {1: 'Semiurban', 2: 'Urban', 3: 'Rural', 4: 'Semiurban', 5: 'Urban'}}

Variabel Dict dijadikan DataFrame

In [8]:
data = pd.DataFrame(data)
data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,Female,No,1,Not Graduate,Yes,7035,0.0,250.0,120.0,0.0,Semiurban
2,Male,No,2,Graduate,No,2500,0.0,100.0,480.0,1.0,Urban
3,Female,Yes,0,Not Graduate,Yes,3000,4000.0,150.0,360.0,0.0,Rural
4,Male,No,0,Not Graduate,No,2000,0.0,300.0,60.0,1.0,Semiurban
5,Male,Yes,3+,Graduate,No,4500,5000.0,400.0,36.0,1.0,Urban

# Inferencing

Masukkan pembagian kolom

In [5]:
num_cols = list_num_cols
catn_cols = list_catn_cols

Setelah itu langsung gunakan pipeline pada data

In [9]:
y_pred = best_model_dtr.predict(data) # Jalankan model
y_pred # hasil dari model

array([False, False, False,  True, False])

Masukkan hasil dari model ke dalam kolom baru di DataFrame data

In [10]:
data["Loan_Status"] = y_pred # kolom baru dari hasil model
data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,Female,No,1,Not Graduate,Yes,7035,0.0,250.0,120.0,0.0,Semiurban,False
2,Male,No,2,Graduate,No,2500,0.0,100.0,480.0,1.0,Urban,False
3,Female,Yes,0,Not Graduate,Yes,3000,4000.0,150.0,360.0,0.0,Rural,False
4,Male,No,0,Not Graduate,No,2000,0.0,300.0,60.0,1.0,Semiurban,True
5,Male,Yes,3+,Graduate,No,4500,5000.0,400.0,36.0,1.0,Urban,False